<header class="header">
    <div class="skip">
        <a href="#nav" class="sr-only">Skip to navigation</a>
        <a href="#content" class="sr-only">Skip to content</a>
        <a href="#my-contact" class="sr-only">Skip to footer</a>
    </div>
    <div id="appW" class="wheatherNow">
        
    </div>
</header>